div.content {
  width: 40rem;
  height: 10rem;
  border: 1rem solid var(--primary-color-red);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}
