:root {
  --primary-color-red: #a8001a;
  --primary-color-red-rgb: 168, 0, 26;
  --primary-color-cyan: #01cfcd;
  --primary-color-cyan-rgb: 1, 207, 205;
  --primary-color-purple: #9c00ce;
  --primary-color-purple-rgb: 156, 0, 206;

  --primary-color-dark: #18181b;
  --primary-color-dark-rgb: 24, 24, 27;
  --primary-color-text: #cccccc;
  --primary-color-text-rgb: 204, 204, 204;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
